<div class="container">
  <br />
  <br />
  <br />
  @if (productsInCart.length == 0) {
  <p>its a little empty here...</p>
  }
  <ul class="list-group">
    @for (item of productsInCart; track $index) {
    <li class="list-group-item">
      <img src="{{ item.thumpnail }}" style="height: 64px; width: 64px" />
      {{ item.name }} | {{ item.price | currency : "EUR" }}
      <a (click)="removeProductFromCart($index)" class="btn btn-outline-danger">
        Remove
      </a>
    </li>
    }
    <li class="list-group-item">
      <p>Sub total: {{ calcTotalPrice() | currency : "EUR" }}</p>
    </li>
  </ul>
  <br />
  <ul class="list-group">
    <li class="list-group-item">
      <p>Travel fee: €5.00</p>
        @if (giftcardPrice) {
      <p>Giftcard price: €{{giftcardPrice}}</p>
        }
      <p>Total price: {{ calcTotalPrice() + 5  | currency : "EUR" }}</p>
    </li>
      <form (submit)="useGiftcard($event)">
        <div class="form-group">
          <label for="giftcardCode">Giftcard</label>
          <input
            type="text"
            class="form-control"
            id="giftcardCode"
            [(ngModel)]="giftcardCode"
            name="giftcardCode"
            placeholder="Enter giftcard"
          />
        </div>
        <button type="submit" class="btn btn-primary">Use</button>
      </form>
  </ul>
  <br />
  <button (click)="placeOrder()" class="btn btn-primary">Order</button>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
