<table class="table d-table mx-auto">
    <thead class="bg-light">
    <tr>
        <th scope="col" class="text-center" (click)="sortTableByGiftcardId()">Giftcard ID</th>
        <th scope="col" class="text-center" (click)="sortTableByUserId()">Gebruikers ID</th>
        <th scope="col" class="text-center">Code</th>
        <th scope="col" class="text-center">Prijs</th>
        <th scope="col" class="text-center">Geldig</th>
        <th scope="col" class="text-center">Deactiveer</th>
        <th scope="col" class="text-center">Activeer</th>
        <th scope="col" class="text-center">Opwaarderen</th>
        <th scope="col" class="text-center">Geschiedenis</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let giftcard of giftcards">
        <tr>
            <td class="text-center fw-semibold align-middle">{{giftcard.giftcard_id}}</td>
            <td class="text-center fw-semibold align-middle">{{giftcard.userId}}</td>
            <td class="text-center align-middle">{{giftcard.code}}</td>
            <td class="text-center align-middle">€{{giftcard.price}}</td>
            <td class="text-center align-middle">{{giftcard.used}}</td>
            <td class="text-center align-middle"><button (click)="deactivateGiftcard(giftcard.giftcard_id)" [disabled]="giftcard.used" class="btn btn-link text-decoration-none">Deactiveer</button></td>
            <td class="text-center align-middle"><button (click)="activateGiftcard(giftcard.giftcard_id)" [disabled]="!giftcard.used" class="btn btn-link text-decoration-none">Activeer</button></td>
            <td class="text-center align-middle">
                <form [formGroup]="addSaldoForm" (ngSubmit)="addSaldoToGiftcard(giftcard.code)">
                    <div class="input-group mx-auto w-50 justify-content-center text-center">
                        <input type="text" class="form-control w-25 mx-auto m-0" name="giftcardValue" id="giftcardValue" formControlName="giftcardValue">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary">Opwaarderen</button>
                        </div>
                    </div>
                </form>
            </td>
            <td class="text-center align-middle">
                <div class="input-group mx-auto w-50 justify-content-center text-center">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-warning"><a style="text-decoration: none" [routerLink]="['/giftcardhistory', giftcard.giftcard_id]">Geschiedenis</a></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>