<div class="card product">
    <div class="image-container" style="height: 270px; overflow: hidden;">
        <img class="product-img w-100" style="object-fit: cover; height: 100%; width: 100%;" [src]="product.thumpnail" alt="thumbnail"/>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <hr />
        <p>{{ product.price | currency : "EUR" }}</p>
<!--        @if (isLoggedIn) {-->
            <a class="btn btn-primary" (click)="onBuyProduct()">add to cart</a>
<!--        } @if (!isLoggedIn) {-->
        <a class="btn btn-primary disabled">login to buy</a>
<!--    }-->
    </div>
</div>
