<table class="table d-table mx-auto">
    <thead class="bg-light">
    <tr>
        <th scope="col" class="text-center">Code</th>
        <th scope="col" class="text-center">Prijs</th>
        <th scope="col" class="text-center">Ongeldig</th>
        <th scope="col" class="text-center">Saldo Toevoegen</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let giftcard of giftcards">
        <tr>
            <td class="text-center align-middle">{{giftcard.code}}</td>
            <td class="text-center align-middle">{{giftcard.price}}</td>
            <td class="text-center align-middle">{{giftcard.used}}</td>
            <td class="text-center align-middle">
                <form [formGroup]="addSaldoForm" (ngSubmit)="addSaldoToGiftcard(giftcard.code)">
                    <div class="input-group mx-auto w-50 justify-content-center text-center">
                        <input type="text" class="form-control w-25 mx-auto m-0" name="giftcardValue" id="giftcardValue" formControlName="giftcardValue">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary">Opwaarderen</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>