<br />
<br />
<h2 class="text-center">Welkom!</h2>
<hr />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="./assets/swordlogo.png" alt="" />
    </div>
    <div class="col">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p>
        Welkom bij swordsNStuff, DE webshop voor jou zwaarden! op dit moment
        verkopen we alleen cosplay zwaarden van de hit game Elden Ring. Op de
        website houden we rekening met kleurenblinden zodat ook zij onze elden
        ring zwaarden kunnen kopen! onze zwaarden zijn niet scherp en zijn
        bedoelt voor cosplay.
      </p>
    </div>
  </div>
</div>
<br />
